# Byte-compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# IDE / Editor folders and files
.idea/
.vscode/
*.swp
*.swo

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db

# Python distribution and packaging
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
*.manifest
*.spec

# Pyre type checker
.pyre/

# Coverage reports
.coverage
.coverage.*

# mypy
.mypy_cache/
.dmypy.json
.dmypy.json.?

# pytest
.cache/

# Local configuration files
*.env
